{{#partial "content"}}



        <div class="row username">
            <h1 class="title">Welcome to Hero Squad</h1>
        </div>
        <div class="row indexButton">
            <div class="create">
                <a href="/create/hero"><button class="btn btn-success btn-lg">Create Hero</button></a>
                <a href="/create/squad"><button class="btn btn-success btn-lg">Create Squad</button></a>

                <p>N.B: First enter heroes before squads to be able to assign them.</p>
            </div>


        </div>




{{/partial}}
{{> layout.hbs}}