{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Hero Squad{{/block}}
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">myHero</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/squads">Squads</a></li>
                <li><a class="nav-link" href="/heroes">Heroes</a></li>
            </ul>
        </div>
    </nav>
{{/block}}

<!-- begin inner template-->
<div class="container">
    {{#block "content"}}
    {{/block}}

</div>
<!-- end inner template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}