<!--
{{#partial "title" }}
    Create a squad!
{{/partial}}

&lt;!&ndash;form.hbs.&ndash;&gt;
{{#partial "content"}}

    <p><a href='/' >Go back.</a></p>
    <h1>Notification:</h1>
    <p>Your squad was added successfully!!!</p>



{{/partial}}

{{> layout.hbs}}-->
